html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  font-family: "Arial", serif;
}

@font-face {
  font-family: "Norse Bold";
  src:
    local("Norse-Bold.otf"),
    url("../assets/fonts/Norse-Bold.otf"); 
}

.left {
  background-image: url("../assets/images/green-leaf-plant.jpg");
  background-size: 100% 100%;
  width: 35vw;
  min-height: 100vh;
  display: flex;
  padding-top: 15%;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: inherit;
  height: 20vmin;
  background-color: black;
  opacity: 0.5;
}

.logo {
  width: 15vmin;
  height: 15vmin;
  border-style: none;
}

.logo-description {
  color: white;
  font-family: "Norse Bold", sans-serif;
  font-weight: bold;
  font-size: 10vmin;
}

.right {
  padding: 8vh 0vw 15vh 0vw;
  width: 65vw;
  background-color: #e7e7e7;
}

.right > * {
  padding-right: 8vw;
  padding-left: 5vw;
}

.description > p {
  font-weight: bold;
}

.description p:last-child {
  margin-bottom: 8vh;
}

.form-container {
  background-color: white;
  padding-top: 2vh;
  padding-bottom: 3vh;
  box-shadow: 0px 4px 10px 3px #5d5a5a;
  margin-bottom: 5vh;
}

ul {
  padding-left: 0px;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  column-gap: 40px;
  row-gap: 20px;
}

input {
  display: block;
  border: 2px inset #E5E7EB;
}

.button {
  background-color: #596D48;
  margin-left: 5vw;
  padding: 15px 50px 15px 50px;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  margin-bottom: 2vh;
}

.call-to-log-in > a {
  color: #596D48;
  font-weight: bold;
  text-decoration: none;
}

