html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
}

@font-face {
  font-family: "Norse Bold";
  src:
    local("Norse-Bold.otf"),
    url("../assets/fonts/Norse-Bold.otf"); 
}

.left {
  background-image: url("../assets/images/green-leaf-plant.jpg");
  background-size: 100% 100%;
  width: 35vw;
  min-height: 100vh;
  display: flex;
  padding-top: 15%;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: inherit;
  height: 20vmin;
  background-color: black;
  opacity: 0.5;
}

.logo {
  width: 15vmin;
  height: 15vmin;
  border-style: none;
}

.logo-description {
  color: white;
  font-family: "Norse Bold", sans-serif;
  font-weight: bold;
  font-size: 10vmin;
}

.right {
  padding: 15vh 15vw 15vh 5vw;
  width: 65vw;
  background-color: #e7e7e7;
}

.description > p {
  font-weight: bold;
}

.description p:last-child {
  margin-bottom: 8vh;
}

